/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("constants.css");

body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    background-color: var(--page-background);
}
.logo-img {
    width: 200px;
    filter: grayscale(100%);
}
.k-input {
    border: 2px solid #f2f2f2;
}
.k-input:checked {
    background-color: var(--btn-primary-background-color);
    border-color: var(--btn-primary-background-color);
}
.k-input:focus {
    box-shadow: none;
    border: 2px solid var(--btn-primary-background-color);
}
.k-btn {
    padding: 5px 30px;
    font-size: 16px;
}
.k-btn-primary {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-background-color);
}
