.mainarea{
  padding:20px 0px;;
}
.counter_number{
  font-size:25px;
}
.card-label{
  text-align:right;
}
.form_page .card-body{
  padding:0px 15px
}
.form_sec{
  padding:20px 10px 10px 0px;
  border:0px;
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
  margin-bottom:10px;  
}
.form_sec h5{
  font-size:14px;
}
.display_preview img{
  cursor: pointer;
}
.table thead tr{
  font-size:12px;
  background-color:#f2f2f2;
}
.row_checkbox, .row_check_all{
  cursor: pointer;
}
