.counter_number{
  font-size:22px;
}
.card-label{
  text-align:right;
}
.form_page .card-body{
  padding:0px 15px
}
.form_sec{
  padding:15px 0px 10px 0px;
  background-color:#fbf5f5;
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
  margin-bottom:10px;
}
.form_sec h5{
  font-size:14px;
}
.display_preview img{
  cursor: pointer;
}